<div class="habit-content">
  <div class="new-habit-container">
    <h2 class="animate__animated animate__flipInX">
      Hurray, Want To Add New Habit ?
    </h2>
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-dark animate__animated animate__flipInX"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      Add New Habit
    </button>
    <%- include('_newHabitForm'); %>
  </div>
  <div class="allHabit">
    <% habits.forEach(habit => { %>
    <div class="card text-center text-bg-primary mb-3">
      <div class="card-header text-dark">
        <h6>Posted Date : <%= habit.createdAt %></h6>
        <div class="target-days-container">
          <% habit.weeklyTargetDays.forEach( dayName => { %>
          <div class="day-name-container">
            <p><%= dayName.slice(0,3) %></p>
          </div>
          <%})%>
        </div>
      </div>
      <div class="card-body text-dark">
        <h2 class="card-title"><%= habit.habitName %></h2>
        <div class="button-container">
          <a href="#" class="btn btn-dark">Mark As Complete</a>
          <a href="#" class="btn btn-dark">View History</a>
        </div>
      </div>
      <div class="card-footer text-body-secondary text-dark">
        <h6>Total Selected Days : <%= habit.totalTargetDays %></h6>
        <h6>Total Target Days : <%= habit.habitStatus.length %></h6>
        <h6>
          Completed : <%= habit.habitStatus.filter((obj) => obj.dateStatus ==
          'Started').length %>
        </h6>
      </div>
    </div>
    <%})%>
  </div>
</div>
