<h1 style="text-align: center">Past History And Upcoming Dates</h1>

<div class="past-history-container">
  <div class="seven-day-container">
    <% for(let day of sevenDays) { %>

    <div
      class="card text-center mb-3 animate__animated animate__zoomInDown w-25 oneDay <% for(let habitStatus of habit.habitStatus) {%> <%if(habitStatus.date == day.formatDate && habitStatus.dateStatus == 'Not Yet Started'){%> text-bg-dark <%} else if(habitStatus.date == day.formatDate && habitStatus.dateStatus == 'Completed') {%> text-bg-success <%} else if(habitStatus.date == day.formatDate && habitStatus.dateStatus == 'Not Completed') {%> text-bg-danger <%}%> <%}%>"
    >
      <div class="card-header view-details">
        <h6 style="text-align: center"><%= day.formatDate %></h6>
      </div>
      <div class="card-body view-details">
        <div class="dayName bg-dark-subtle">
          <h6><%- day.dayName %></h6>
        </div>
      </div>

      <% for(let habitStatus of habit.habitStatus) { %> <% if(habitStatus.date
      == day.formatDate){%>
      <div class="card-footer text-body-warning">
        <form action="/habit/toggle-status" method="post">
          <select name="dateStatus" id="dateStatus" class="btn bg-dark-subtle select-btn">
            <option value="Not Yet Started,<%-habitStatus.id %>" <%if(habitStatus.dateStatus == 'Not Yet Started') {%>selected<%}%> >Not Yet Started</option>
            <option value="Completed,<%-habitStatus.id %>" <%if(habitStatus.dateStatus == 'Completed') {%>selected<%}%> >Completed</option>
            <option value="Not Completed,<%-habitStatus.id %>"  <%if(habitStatus.dateStatus == 'Not Completed') {%>selected<%}%> >Not Completed</option>
          </select>
          <button type="submit" class="btn bg-dark-subtle">Toggle Status</button>
        </form>
      </div>
      <% }%> <%}%>

      <% if(habit.habitStatus.find((data) => data.date == day.formatDate) == undefined ) { %>
     <h6>Habit Is Not assigned for this date</h6>
     <h6 style="color: gray;">Successful people are simply those with successful habits.</h6>
      <%}%>
    </div>
    <%}%>
  </div>
</div>


